html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Montserrat", sans-serif;
  background: #f5f6f8;
  color: #000;
  overflow-x: hidden; }

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1200px; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #26e6e6;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.6px; }

.lbl-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 48px;
  height: 24px;
  border-radius: 12px;
  background-color: #26e6e6;
  color: #fff;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px; }

h1 {
  font-size: 72px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 3.6px;
  color: #232323;
  text-transform: uppercase; }

h2 {
  color: #232323;
  font-size: 72px;
  font-weight: 400; }

h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.7px;
  color: #232323;
  text-transform: uppercase; }

.learn-more {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: #232323;
  text-transform: uppercase;
  letter-spacing: 0.6px; }

header {
  background: url(../images/header.png) no-repeat center center/cover; }
  header .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px; }
    header .header .navigation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      header .header .navigation > li {
        padding: 0 12px; }
        header .header .navigation > li > a {
          color: rgba(35, 35, 35, 0.5);
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 0.6px;
          text-decoration: none;
          font-weight: 400; }
          header .header .navigation > li > a:hover, header .header .navigation > li > a.active {
            color: #232323; }
        header .header .navigation > li .menu span {
          display: block;
          width: 20px;
          height: 3px;
          background: #232323;
          margin: 0 0 3px 0; }
        header .header .navigation > li .btn {
          background: #000;
          color: #fff;
          padding: 17px; }
          header .header .navigation > li .btn:hover {
            color: #fff; }
  header .header-content > div {
    width: 50%;
    padding-top: 12vw;
    padding-bottom: 24vw; }
    header .header-content > div p {
      text-transform: uppercase;
      color: #232323;
      font-size: 12px;
      letter-spacing: 0.6px; }

.features {
  padding-bottom: 45px; }
  .features .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .features .container .features-item {
      text-align: center;
      padding-bottom: 45px;
      width: 22%; }
      .features .container .features-item .icon-wrap {
        height: 63px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .features .container .features-item h4 {
        padding: 30px 0 30px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .features .container .features-item h4 .lbl-new {
          margin-left: 10px; }
      .features .container .features-item p {
        color: rgba(35, 35, 35, 0.5);
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        padding-bottom: 30px; }
      .features .container .features-item a {
        font-weight: 500;
        text-decoration: none;
        color: #232323; }

.content-slider {
  position: relative;
  height: 1000px;
  padding-top: 50px; }
  .content-slider #cs_slide1_0:checked ~ .background {
    background: #26e6e6; }
  .content-slider #cs_slide1_1:checked ~ .background {
    background: darkslategrey; }
  .content-slider #cs_slide1_2:checked ~ .background {
    background: #333; }
  .content-slider #cs_slide1_0:checked ~ ul li.num0 {
    opacity: 1; }
  .content-slider #cs_slide1_1:checked ~ ul li.num1 {
    opacity: 1; }
  .content-slider #cs_slide1_2:checked ~ ul li.num2 {
    opacity: 1; }
  .content-slider .background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out; }
  .content-slider ul {
    width: 100%;
    height: 100%;
    max-width: 944px;
    max-height: 789px;
    background: url(../images/mobile-phone.png) no-repeat center center/cover;
    overflow: hidden;
    z-index: 1000;
    position: relative;
    left: 16%; }
    @media (max-width: 1600px) {
      .content-slider ul {
        left: 5%; } }
    .content-slider ul li {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      opacity: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      z-index: 100000; }
      .content-slider ul li img {
        position: relative;
        -webkit-transform: rotateZ(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotateZ(-40deg); }
    .content-slider ul li.cs_skeleton {
      width: 100%;
      visibility: hidden;
      font-size: 0px;
      line-height: 0; }
  .content-slider .started-block {
    max-width: 388px;
    background: #fff;
    position: absolute;
    top: 5%;
    right: 18%;
    z-index: 1000000; }
    @media (max-width: 1600px) {
      .content-slider .started-block {
        right: 3%; } }
    .content-slider .started-block .started-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 40px 34px; }
      .content-slider .started-block .started-item img {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-right: 20px; }
      .content-slider .started-block .started-item > div h5 {
        color: #000;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px; }
      .content-slider .started-block .started-item > div p {
        color: rgba(35, 35, 35, 0.5);
        font-size: 14px;
        font-weight: 400;
        line-height: 22px; }
    .content-slider .started-block .btn-get-started {
      background: #000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #fffefe;
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      height: 68px;
      text-decoration: none; }

.change {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .change > div {
    width: 50%; }
  .change .left-side {
    padding: 120px 0 0 100px; }
    .change .left-side h2 {
      color: #fff;
      font-weight: 300; }
    .change .left-side p {
      color: rgba(35, 35, 35, 0.5);
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: rgba(255, 255, 255, 0.5);
      padding: 50px 0 150px 0;
      max-width: 50%; }
    .change .left-side > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .change .left-side > div .arrow {
        width: 70px;
        height: 70px;
        border: 3px solid #333;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .change .left-side > div .arrow i {
          color: #333; }
      .change .left-side > div .btn-get-started {
        width: 180px;
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #26e6e6;
        border-radius: 25px;
        color: #000;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        text-decoration: none; }
  .change .right-side img {
    position: relative;
    top: 36%;
    right: 0%;
    z-index: 100000;
    width: 100%; }

.build {
  background: #fff;
  text-align: center; }
  .build .container {
    max-width: 600px;
    padding-top: 120px;
    padding-bottom: 120px; }
    .build .container p {
      color: #232323;
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      padding-top: 60px; }

.features-second .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px; }
  .features-second .container .features-item {
    width: 22%; }
    .features-second .container .features-item h4 {
      text-transform: initial;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      padding-bottom: 30px; }
    .features-second .container .features-item p {
      color: rgba(35, 35, 35, 0.5);
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      padding-bottom: 30px; }

.platform {
  padding-top: 315px; }
  .platform .container h5 {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    text-align: center;
    padding-bottom: 40px; }
  .platform .container p {
    text-align: center;
    color: #232323;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px; }
  .platform .container .platform-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 76px; }
    .platform .container .platform-wrap .platform-item {
      width: 30%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 70px;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .platform .container .platform-wrap .platform-item .icon-wrap {
        min-width: 60px;
        margin: 0 14px 0 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .platform .container .platform-wrap .platform-item h5 {
        text-align: left;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        text-transform: initial; }
      .platform .container .platform-wrap .platform-item p {
        text-align: left;
        color: rgba(35, 35, 35, 0.5);
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        padding-bottom: 30px; }

.testimonials {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 90px; }
  .testimonials .testimonials-slider {
    width: 150%; }
    .testimonials .testimonials-slider .slick-slide {
      text-align: center; }
      .testimonials .testimonials-slider .slick-slide blockquote {
        background: #fff;
        padding: 50px;
        width: 88%;
        margin: 0 auto;
        color: #232323;
        font-size: 42px;
        font-weight: 300;
        position: relative; }
        .testimonials .testimonials-slider .slick-slide blockquote:after, .testimonials .testimonials-slider .slick-slide blockquote:before {
          content: "";
          display: block;
          position: absolute;
          width: 24px;
          height: 17px; }
        .testimonials .testimonials-slider .slick-slide blockquote:before {
          background: url(../images/quote1.png);
          left: 5%;
          top: 5%; }
        .testimonials .testimonials-slider .slick-slide blockquote:after {
          background: url(../images/quote2.png);
          right: 5%;
          bottom: 5%; }
        .testimonials .testimonials-slider .slick-slide blockquote .author {
          color: #000;
          font-size: 12px;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 0.6px;
          display: block;
          text-align: center;
          padding-bottom: 20px;
          padding-top: 20px; }

.do-it {
  overflow-x: hidden; }
  .do-it h6 {
    text-align: center;
    color: #000;
    font-size: 26px;
    font-weight: 900;
    line-height: 80px;
    text-transform: uppercase;
    padding-top: 90px; }
  .do-it .picture-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .do-it .picture-wrap .picture-item {
      position: relative; }
      .do-it .picture-wrap .picture-item .opacity-overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        background: rgba(0, 0, 0, 0.7);
        visibility: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .do-it .picture-wrap .picture-item .opacity-overlay .btn-view-demo {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          width: 112px;
          height: 42px;
          border-radius: 2px;
          text-decoration: none;
          color: #000;
          font-size: 12px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.6px; }
      .do-it .picture-wrap .picture-item img {
        width: 100%;
        height: 100%; }
      .do-it .picture-wrap .picture-item:nth-of-type(1) {
        width: 16%;
        left: 14%;
        top: -40px; }
      .do-it .picture-wrap .picture-item:nth-of-type(2) {
        width: 33%;
        left: 6%; }
      .do-it .picture-wrap .picture-item:nth-of-type(4) {
        width: 50.45%;
        left: 22%;
        bottom: -29px; }
      .do-it .picture-wrap .picture-item:nth-of-type(5) {
        width: 11%;
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
        top: -16vw; }
      .do-it .picture-wrap .picture-item:nth-of-type(6) {
        width: 24.6%;
        top: 16vw;
        right: 29Vw; }
      .do-it .picture-wrap .picture-item:nth-of-type(7) {
        width: 24.6%;
        top: 17vw;
        right: 23vw; }
      .do-it .picture-wrap .picture-item:hover .opacity-overlay {
        visibility: visible;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }

.join {
  text-align: center;
  background: #fff; }
  .join h2 {
    padding-top: 90px;
    padding-bottom: 90px; }

.pricing .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 75px; }
  .pricing .container .pricing-plan {
    width: 33.33%;
    text-align: center;
    padding: 44px; }
    .pricing .container .pricing-plan h5 {
      color: #000;
      font-size: 12px;
      font-weight: 400;
      line-height: 80px;
      text-transform: uppercase;
      letter-spacing: 0.6px; }
    .pricing .container .pricing-plan p {
      color: rgba(35, 35, 35, 0.5);
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      padding-bottom: 30px;
      text-align: center; }
    .pricing .container .pricing-plan .price {
      color: #000;
      font-size: 50px;
      font-weight: 900;
      line-height: 120.03px;
      text-transform: uppercase;
      letter-spacing: 4.17px;
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out; }
    .pricing .container .pricing-plan .btn-get-started {
      color: #000;
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      background: transparent;
      text-decoration: none;
      width: 180px;
      height: 50px;
      margin: 0 auto; }
    .pricing .container .pricing-plan:hover {
      background: #000; }
      .pricing .container .pricing-plan:hover h5 {
        color: #fff; }
      .pricing .container .pricing-plan:hover p {
        color: rgba(255, 255, 255, 0.5); }
      .pricing .container .pricing-plan:hover .price {
        color: #fff; }
      .pricing .container .pricing-plan:hover .btn-get-started {
        border-radius: 25px;
        background: #26e6e6; }

footer {
  background: url(../images/footer.png) no-repeat center center/cover;
  padding-bottom: 127px; }
  footer h2 {
    color: #000;
    font-weight: 900;
    font-size: 90px;
    line-height: 120.03px;
    text-transform: uppercase;
    letter-spacing: 7.5px;
    text-align: right;
    padding-top: 7vw;
    padding-bottom: 15vw; }
  footer .footer-navigation {
    background: #000;
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    footer .footer-navigation .left-side {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 60%; }
      footer .footer-navigation .left-side ul li a {
        display: block;
        color: #fff;
        font-size: 12px;
        font-weight: 300;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        text-decoration: none; }
        footer .footer-navigation .left-side ul li a:hover {
          text-decoration: underline; }
    footer .footer-navigation .right-side {
      text-align: right; }
      footer .footer-navigation .right-side p, footer .footer-navigation .right-side .link {
        font-size: 11px;
        font-weight: 300;
        line-height: 40px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.2);
        letter-spacing: 1.1px; }
      footer .footer-navigation .right-side .link {
        display: block;
        text-transform: initial;
        text-decoration: none;
        padding-top: 70px; }
      footer .footer-navigation .right-side .social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
        footer .footer-navigation .right-side .social li {
          margin: 0 10px; }
          footer .footer-navigation .right-side .social li a i {
            color: rgba(255, 255, 255, 0.2); }

.csslider1 > .slide:checked ~ .cs_arrowprev > label, .csslider1 > .slide:checked ~ .cs_arrownext > label {
  opacity: 0;
  z-index: -1; }

.content-slider > #cs_slide1_0:checked ~ .cs_arrowprev > label.num2,
.content-slider > #cs_pause1_0:checked ~ .cs_arrowprev > label.num2,
.content-slider > #cs_slide1_0:checked ~ .cs_arrownext > label.num1,
.content-slider > #cs_pause1_0:checked ~ .cs_arrownext > label.num1,
.content-slider > #cs_slide1_1:checked ~ .cs_arrowprev > label.num0,
.content-slider > #cs_pause1_1:checked ~ .cs_arrowprev > label.num0,
.content-slider > #cs_slide1_1:checked ~ .cs_arrownext > label.num2,
.content-slider > #cs_pause1_1:checked ~ .cs_arrownext > label.num2,
.content-slider > #cs_slide1_2:checked ~ .cs_arrowprev > label.num1,
.content-slider > #cs_pause1_2:checked ~ .cs_arrowprev > label.num1,
.content-slider > #cs_slide1_2:checked ~ .cs_arrownext > label.num0,
.content-slider > #cs_pause1_2:checked ~ .cs_arrownext > label.num0 {
  opacity: 1;
  z-index: 5; }

.cs_arrownext, .cs_arrowprev {
  position: absolute;
  z-index: 1000;
  width: 80px;
  height: 68px;
  border: 3px solid #fff;
  opacity: 0.4;
  border-radius: 50%; }
  .cs_arrownext label, .cs_arrowprev label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .cs_arrownext label i, .cs_arrowprev label i {
      font-size: 28px;
      position: relative;
      color: #fff; }

.cs_arrownext {
  right: 47%;
  top: 19%; }
  .cs_arrownext label i {
    -webkit-transform: rotateZ(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotateZ(-45deg); }

.cs_arrowprev {
  left: 23%;
  top: 59%; }
  .cs_arrowprev label i {
    -webkit-transform: rotateZ(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotateZ(-45deg); }

@media (max-width: 1366px) {
  h2 {
    font-size: 50px; }
  .container {
    max-width: 100%;
    width: 100%; }
  .testimonials .testimonials-slider .slick-slide blockquote {
    padding: 40px;
    width: 84%;
    font-size: 30px; }
  .content-slider {
    height: 750px; }
    .content-slider ul {
      max-width: 700px;
      max-height: 584px; }
  .change {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .change .left-side {
      padding: 60px 0 0 60px; }
      .change .left-side p {
        padding: 50px 0 50px 0;
        max-width: 90%; }
    .change .right-side {
      padding: 50px; }
      .change .right-side img {
        max-height: 562px;
        max-width: 628px;
        width: 100%;
        height: 100%;
        right: -10%; }
  .platform {
    padding-top: 180px; } }

@media (max-width: 1280px) {
  .content-slider ul {
    max-width: 594px;
    max-height: 497px; }
  .do-it .picture-wrap .picture-item:nth-of-type(4) {
    bottom: 43%; } }

@media (max-width: 1024px) {
  .do-it .picture-wrap .picture-item .opacity-overlay .btn-view-demo {
    width: 100px;
    height: 30px; }
  .do-it .picture-wrap .picture-item:nth-of-type(4) {
    bottom: 154px;
    width: 60%;
    left: 4%; }
  .do-it .picture-wrap .picture-item:nth-of-type(5) {
    width: 19%; }
  .do-it .picture-wrap .picture-item:nth-of-type(6) {
    top: 4vw; }
  .do-it .picture-wrap .picture-item:nth-of-type(7) {
    width: 24.6%;
    top: -19vw;
    right: -4vw; }
  h1 {
    font-size: 46px;
    line-height: 50px;
    padding-bottom: 20px; }
  header .header-content > div {
    width: 100%;
    text-align: center; }
  .content-slider {
    height: 131vw; }
    .content-slider ul {
      margin: 0 auto; }
    .content-slider .started-block {
      right: 33%;
      top: 45%; } }

@media (max-width: 767px) {
  .do-it .picture-wrap .picture-item .opacity-overlay .btn-view-demo {
    width: 100px;
    height: 30px; }
  .do-it .picture-wrap .picture-item:nth-of-type(1) {
    width: 25%;
    left: 5%;
    top: -12px; }
  .do-it .picture-wrap .picture-item:nth-of-type(2) {
    width: 37%;
    left: 2%; }
  .do-it .picture-wrap .picture-item:nth-of-type(3) {
    right: 2%; }
  .do-it .picture-wrap .picture-item:nth-of-type(4) {
    width: 64%; }
  .do-it .picture-wrap .picture-item:nth-of-type(5) {
    right: 5%; }
  .do-it .picture-wrap .picture-item:nth-of-type(6) {
    top: 4vw;
    width: 28%;
    right: 33vw; }
  .do-it .picture-wrap .picture-item:nth-of-type(7) {
    width: 28%;
    top: -24vw;
    right: -4vw; }
  .features .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .features .container .features-item {
      width: 100%; }
  .features-second .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .features-second .container .features-item {
      width: 100%;
      text-align: center; }
  .pricing .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .pricing .container .pricing-plan {
      width: 100%;
      text-align: center; }
  .platform .container .platform-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .platform .container .platform-wrap .platform-item {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .platform .container .platform-wrap .platform-item h5 {
        text-align: center;
        padding-bottom: 20px; }
  .testimonials .testimonials-slider .slick-slide blockquote {
    padding: 20px;
    width: 84%;
    font-size: 22px; } }

@media (max-width: 640px) {
  .do-it .picture-wrap .picture-item:nth-of-type(1) {
    width: 42%; }
  .do-it .picture-wrap .picture-item:nth-of-type(2) {
    width: 49%;
    left: -2%; }
  .do-it .picture-wrap .picture-item:nth-of-type(3) {
    width: 27%; }
  .do-it .picture-wrap .picture-item:nth-of-type(4) {
    width: 68%;
    bottom: 0;
    left: 4%; }
  .do-it .picture-wrap .picture-item:nth-of-type(5) {
    top: -50vw; }
  .do-it .picture-wrap .picture-item:nth-of-type(6) {
    top: -17vw;
    width: 37%;
    right: -29vw; }
  .do-it .picture-wrap .picture-item:nth-of-type(7) {
    width: 32%;
    top: -49vw;
    right: 9vw; } }

@media (max-width: 480px) {
  .do-it .picture-wrap .picture-item:nth-of-type(1) {
    width: 42%; }
  .do-it .picture-wrap .picture-item:nth-of-type(2) {
    width: 49%;
    left: -2%; }
  .do-it .picture-wrap .picture-item:nth-of-type(3) {
    width: 32%; }
  .do-it .picture-wrap .picture-item:nth-of-type(4) {
    width: 68%;
    bottom: 0;
    left: 4%; }
  .do-it .picture-wrap .picture-item:nth-of-type(5) {
    right: -2%;
    top: -45vw;
    width: 34%; }
  .do-it .picture-wrap .picture-item:nth-of-type(6) {
    top: -6vw;
    width: 55%;
    right: -42vw; }
  .do-it .picture-wrap .picture-item:nth-of-type(7) {
    width: 44%; } }
